@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap&quot");

:root {
  --main-font: "Outfit", sans-serif;
  --card-background: hsl(216, 50%, 16%);
  --main-background: hsl(217, 54%, 11%);
  --cyan: hsl(178, 100%, 50%);
  --white: rgb(255, 255, 255);
  --soft-blue: hsl(215, 51%, 70%);
  --dark-blue: hsl(215, 32%, 27%);
}

body {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: var(--main-font);
background-color: var(--soft-blue);
}

.main-container{
  width: 80%;
  max-width: 349px;
  margin: 0 auto;
  margin-top: 146px;
  margin-bottom: 50px;
}

.nft-container{
  padding: 24px;
  border-radius: 10px;
  background-color: var(--white);
  width: 300px;
  height: fit-content;
  
}

/** Container Image **/
.container-image {
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

.main-image{
  background-image: url(./images/image-qr-code.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  min-height: 300px;
}

.color-image {
    background-image: url("images/icon-view.svg");
    position: absolute;
  top: 0;
  width: 100%;
  min-height: 300px;
  height: auto;
  background-image: none;
}



/** Container Title **/
.container-title {
  padding-top: 0.5rem;
}

.container-title h1 a {
  text-decoration: none;
  color: black;
  font-size: 22.4px;
  font-weight: 400;
  font-weight: bold;
  text-align: center;
}

.container-title h1 a:hover{
  color: var(--cyan);
  transition: color ease-in 0.3s;
}

.container-title p{
  color: grey;
  font-size: 17.6px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
}


h1{
   color: black; 
}

/** Media Queries **/

@media screen and (max-width: 600px) {
  /** Main Container **/
  .main-container {
    margin-top: 60px;
  }
}